* {
    padding: 0;
    margin: 0;
    font-family: Prata;
}

body {
    background: #000;
}

.d1 {
    margin: 0 auto;
    width: 100%;
}

img {
    width: 100%;
}

h1 {
    color: #fff;
    font-size: 70px;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

.d2 {
    width: 100%;
    padding: 200px 0;
    background: #000;
    position: absolute;
    z-index: 21;
}

.d2-1 {
    width: 100%;
    padding: 200px 0;
    background: #000;
    z-index: 19;
}

.d3 {
    margin: 0 auto;
    width: 50%;
}

.bar {
    top: 5px;
    left: 5px;
    height: 45px;
    position: fixed;
    z-index: 20;
}

.bar1 {
    margin: 10px 30px;
    color: #fff;
    font-size:25px;
    line-height: 25px;
    text-shadow: 1px 1px 10px #000000;
}